<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/login.css">
<body>
    <%- include('./partials/header') %> 


    
    <main class="login">
        <form action="/users/login" method="POST" class="loginForm">
            <div class="datos-usuario-login">
                <label for="nombre">Email </label>
                <input type="email" name="email" id="email" required placeholder="Tierra@Mate.com">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                   <% } %>
                <label for="password">Contraseña </label>
                <input type="password" name="password" id="password" minlength="8" required placeholder="TierraMate123">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %> 
                    </div>
                   <% } %>
            </div>
            <div class="container-login">
                <div class="recordarUsuario">
                    <input type="checkbox" name="recordarUsuario" id="recordarUsuario">
                    <label for="recordarUsuario">Recordar usuario </label>
                </div>
                <div class="forgotten">
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="buttons">
                    <input class="btn" type="submit" value="Iniciar sesión">
                </div>
                <div class="red-login">
                    <a href="/users/register">¿Aún no tenés cuenta?</a>
                </div>
            </div>
        </form>
    </main>


<footer>
 <%- include('./partials/footer') %> 
</footer>
<script src="/validationsFront/validationLogin.js">

</script>
    
</body>
</html>