<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Tierra Mate - Todos los productos</title>
    <link rel="stylesheet" href="/css/products.css">
    <%- include('./partials/head') %> 
</head>
<body>   


    <%- include('./partials/header') %> 


<div class="titulo-productos">
    <h2>Todos los productos</h2> 
</div>
<div class="container">
    <div class="row">
        <% products.forEach(el=> { %> 
        <div class="products-container">
            <section class="product-box">
                <a href="/products/detail/<%= el.id %>">
                    <p class="product-name"><%= el.name %></p>
                    <figure class="product-image">
                        <img src="/images/products/<%= el.image %>" class="image" alt="imagen de producto">
                    </figure>

                    <div class="description">
                        <p class="product-description"><%= el.description %></p>
                        <p class="product-category"><%= el.category %></p>
                        <p class="product-type"><%= el.type %></p>
                        <p class="product-size"><%= el.size %></p>
                        <h2 class="product-price">$<%= el.price %></h2>
                    </div>
                </a>
            </section>
        </div>
        <% }) %> 
    </div>
</div>


<footer>
    <%- include('./partials/footer') %> 
</footer>

</body>
</html>