<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <%- include('./partials/header') %> 

   <form action="/products/edit<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="productDetail">
            <div class="img-producto">
                <label for="image">Imágen del producto: </label>
                <input type="file" name="image" id="image" >
            </div>
            <div class="product">
                <div class="text-detail">
                    <label for="name"><h2>Nombre del producto: </h2></label>
                    <input type="text" name="name" id="name" value="<%=product.name%>">
                    <label for="description">Descripción del producto:</label>
                    <textarea name="description" id="description" cols="30" rows="10"> <%=product.description%> </textarea>
                </div>
                <div class="select-weight">
                    <label for="precio">Precio:</label>
                    <input type="text" name="price" id="price" value="<%=product.price%>">
                </div>
                <input type="submit" value="Guardar producto" class="button-detail">
            </div>
        </div>  
    </form>
    
    



    <%- include('./partials/footer') %> 
</body>
</html>