<!DOCTYPE html>
<html lang="es">
<head>

  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="/css/productDetail.css">

</head>

<body>

    <%- include('./partials/header') %> 

<main>
<div class="productDetail">
    <div class="img-producto">
      <img src="/images/products/<%=product.image%>">
    </div>
    <div class="product">
        <div class="text-detail">
            <h2><%=product.name%></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quo aperiam corporis, natus aliquam sit omnis labore quam eius autem temporibus
             laudantium praesentium illo aspernatur eos eligendi aliquid excepturi quas ex!</p> 
        </div>
        <div class="select-weight">
            <p>$ <%=product.price%></p><select name="" class="weight"> 
                        <option value="none"> Seleccionar peso</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
            <input type="submit" value="Agregar al carrito" class="button-detail">
        </div>
        <% if (locals.userLogged) { %>
            <% if (locals.userLogged.category == "Admin") { %>
                <a href="/products/edit/<%= product.id %>">
                <button class="buttons">Editar producto</button>
                </a>
        <% } %>
         
        <% } %>
    </div>
</div>  
<hr class="hr-detail">
    <div class="similar">
        <h2>Productos similares</h2>
        <div class="img-similar">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
        </div>
    </div>
</main>

<%- include('./partials/footer') %> 
</body>
</html>