<html lang="es">
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/usersProfile.css">
<body>
    <%- include('../partials/header') %> 

        <div class="profile-container">
            <section class="product-box">
                    <h2><%= user.first_name %></h2>
                    <h2><%= user.last_name %></h2>
                    <h2><%= user.email %></h2>
                    <figure class="product-box_image">
                        <img src="/images/users/<%= user.image %>" alt="imagen de producto">
                    </figure>
            </section>
        </div>






    <%- include('../partials/footer') %> 
</body>
</html>