<html lang="es">
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/usersProfile.css">
<body>
    <%- include('../partials/header') %> 

        <div class="profile-container">
            <section class="product-box">

            <div class="image-container">
                <figure class="product-box_image">
                    <h2>Foto de perfil:</h2>
                    <img src="/images/users/<%= user.image %>" alt="imagen de producto">
                </figure>

                <div class="image-update">
                    <form action="/users/profile" method="PUT" enctype="multipart/form-data">
                    <H2>Subir una nueva foto de perfil:</H2>
                    <input type="file" name="image" id="image">
                    <div class="buttons">
                        <button type="submit" class="btn-update">Subir foto</button>
                    </div>
                    </form>
                </div>
            </div>

                <div class="data-user">
                    <h2>Nombre: <%= user.first_name %></h2>
                    <h2>Apellido: <%= user.last_name %></h2>
                    <h2>Correo electrónico: <%= user.email %></h2>
                </div>

                <div class="logout">
                    <form action="/users/logout" method="get">
                    <input class="btn" type="submit" value="Cerrar sesión">
                    </form>
                </div>


            </section>
        </div>






    <%- include('../partials/footer') %> 
</body>
</html>