<html lang="es">
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/usersProfile.css">
<body>
    <%- include('../partials/header') %> 

        <div class="profile-container">
            <section class="product-box">

            <div class="image-container">
                <figure class="product-box_image">
                    <img src="/images/users/<%= user.image %>" alt="Imagen de perfil">
                </figure>
            </div>

                

                <div class="data-user">
                    <h2>Nombre: <%= user.name %></h2>
                    <h2>Apellido: <%= user.lastName %></h2>
                    <h2>Correo electrónico: <%= user.email %></h2>
                </div>

                <div class="logout">
                    <form action="/users/logout" method="GET">
                    <input class="btn" type="submit" value="Cerrar sesión">
                    </form>
                    <a href="/users/edit/<%= user.id %>" type="button" class="btn" style="margin-left: 5px;">Editar usuario</a>
                </div>

                
            </section>
        </div>

    <%- include('../partials/footer') %> 
</body>
</html>